<div class="card-container">
  <form (ngSubmit)="saveChanges()"  [formGroup]="movieForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput   formControlName="title"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Poster</mat-label>
        <input matInput  formControlName="poster"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Estudio</mat-label>
        <mat-select >
          <mat-option *ngFor="let company of companiesList" value="{{company.id}}">{{company.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Duración</mat-label>
        <input matInput  type="number"   formControlName="duration"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Puntuación</mat-label>
        <input matInput  type="number" precision="2" formControlName="imdbRating"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Año</mat-label>
        <input matInput  type="number"  formControlName="year"/>
      </mat-form-field>
    </div>

    <div class="buttons-container">
      <button type='submit' mat-fab color="primary" aria-label="Guardar" >
        <mat-icon>save</mat-icon>
      </button>
    </div>

  </form>
</div>


