<h4>{{ "movies.title" | translate }}</h4>

<div class="card-container" *ngIf="(movies$ | async ); let movieList">

  <ng-container *ngFor="let movie of (movies$ | async )">
    <mat-card class="example-card" [routerLink]="[movie.id]">
      <mat-card-header>
        <mat-card-title >{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="movie.poster"
        alt="{{ movie.title }}"
        class="card-image"
      />
      <mat-card-content>
        <label class="card-hashtag" *ngFor="let hashtag of movie.genre">#{{hashtag}} </label>
      </mat-card-content>

    </mat-card> 
  </ng-container>
</div>

<div class="buttons-container">
  <button mat-fab color="primary" aria-label="Añadir película" (click)="gotoAdd()">
    <mat-icon>add</mat-icon>
  </button>

</div>
